@media only screen and (max-width: 650px) {
    body {
    background-image: url("ss1.png");
    width: 330x;
    height: 400px;
    
 
    }
    span{
       margin-left: 0px;
     

    }
    .spazio{
       margin-left: 20px;




    }
    .box{
      width: 400px;
      height: 400px; 
      font-family: "Roboto", sans-serif;
      font-style: normal;
      color: white;
      font-size: 20px;
    }
   
    .ciao2{
        height: 150px;
        width: 350px;



    }
  
    
  

}



@media only screen and (min-width: 651px){
  body{
      background-image: url("ss1.png");
      background-repeat: repeat;
     
    }
    p{
      font-family: "Roboto", sans-serif;
      
      font-style: normal;

    }
    span{
       margin-left: 40px;
     

    }
 
    .spazio{
       margin-left: 1300px;




    }
    .box{
      color: white; 
      font-size: 80px; 
      width: 800px;
     margin-left:20px;


    }
    .acc{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;



    }


    .face{

      width: 800px;
      height:800px;
      content: url("face.png");


    }

    
    

}