@media only screen and (min-width:375px) and (max-width:411px){
   
 
   body{
      background-color:#535cd6;
      
      width: 375px;
      margin: 0%;
      height: 60px;
     
    }
    p{
      font-family: "Roboto", sans-serif;
      
      font-style: normal;

    }
    span{
       margin-left: 1px;
     

    }

    .spazio{
     
      height: 50px;

      margin-left: 80px;
      width: 300px;


    }
    .box{
      color: white; 
      font-size: 32px; 
      width: 300px;
    
      margin-left: 20px;
      

    }
   
    .acc{
     
      height:60px;
      
    }
    
    .pp{

      color: white;
      font-size: 15px;






   }
   .image{
      width: 200px;
    height: 200px;
    
    margin-left: 90px;


   } 
   .ciao2{
         
      
      margin-top: 600px;
      background-color: brown;
      height: 60px;
      width: 380px;

    }

   .credits{
      
      margin-left: 260px;
      font-family: "Roboto", sans-serif;
        font-style: normal;
      color: white;
      font-size: 11px;


   } 



   
}

    


   @media only screen and (min-width:375px) and (max-width:411px) and (width:667px){
   
 
    body{
       background-color:#535cd6;
       
       width: 290px;
       margin: 0%;
       height: 60px;
      
     }
     p{
       font-family: "Roboto", sans-serif;
       
       font-style: normal;
 
     }
     span{
        margin-left: 1px;
      
 
     }
 
     .spazio{
       
       height: 50px;
 
       margin-left: 60px;
       width: 100%;
 
 
     }
     .box{
       color: white; 
       font-size: 32px; 
       width: 300px;
     
       margin-left: 20px;
       
 
     }
    
     .acc{
      
       height:60px;
       
     }
     
     .pp{
 
       color: white;
       font-size: 15px;
 
 
 
 
 
 
    }
    .image{
       width: 200px;
     height: 200px;
     
     margin-left: 90px;
 
 
    } 
    .ciao2{
          
       
       margin-top: 600px;
       background-color: brown;
       height: 60px;
       width: 384px;
 
     }
 
    .credits{
       
       margin-left: 260px;
       font-family: "Roboto", sans-serif;
         font-style: normal;
       color: white;
       font-size: 11px;
 
 
    } 
 
 
 
    
 }

    
@media only screen and (width:414px) and (height: 896px){
   
 
  body{
     background-image:url("ss1.png");
     
     
     margin: 0%;
     height: 60px;
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 1px;
    

   }

   .spazio{
     
     margin-left: 80px;
     width: max-content;


   }
   .box{
     color: white; 
     font-size: 32px; 
     width: 300px;
   
     margin-left: 20px;
     

   }
  
   .acc{
    
     height:60px;
     
   }
   
   .pp{

     color: white;
     font-size: 15px;






  }
  .image{
     width: 200px;
   height: 200px;
   
   margin-left: 90px;


  } 
  .ciao2{
        
     
     margin-top: 694px;
     background-color: brown;
     height: 60px;
     width: 414px;

   }

  .credits{
     
     margin-left: 280px;
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 11px;


  } 



  
} 


@media only screen and (width:390px) and (height: 844px){
   
 
  body{
     background-image:url("ss1.png");
     
     
     margin: 0%;
     height: 60px;
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 1px;
    

   }

   .spazio{
     
     margin-left: 100px;
     width: max-content;


   }
   .box{
     color: white; 
     font-size: 32px; 
     width: 300px;
   
     margin-left: 20px;
     

   }
  
   .acc{
    
     height:60px;
     
   }
   
   .pp{

     color: white;
     font-size: 15px;






  }
  .image{
     width: 200px;
   height: 200px;
   
   margin-left: 90px;


  } 
  .ciao2{
        
     
     margin-top: 690px;
     background-color: brown;
     height: 60px;
     width: 414px;

   }

  .credits{
     
     margin-left: 280px;
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 11px;


  } 



  
}



@media only screen and (width:430px) and (height: 932px){
   
 
  body{
     background-image:url("ss1.png");
     
     
     margin: 0%;
     height: 60px;
     
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 1px;
    

   }

   .spazio{
     
     margin-left: 140px;
     width: max-content;


   }
   .box{
     color: white; 
     font-size: 32px; 
     width: 300px;
   
     margin-left: 20px;
     

   }
  
   .acc{
    
     height:60px;
     
   }
   
   .pp{

     color: white;
     font-size: 15px;






  }
  .image{
     width: 200px;
   height: 200px;
   
   margin-left: 90px;


  } 
  .ciao2{
        
     
     margin-top: 730px;
     background-color: brown;
     height: 60px;
     width: 430px;

   }

  .credits{
     
     margin-left: 340px;
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 11px;


  } 



  
}

@media only screen and (width:412px) and (height: 915px){
   
 
  body{
     background-image:url("ss1.png");
     
     
     margin: 0%;
     height: 60px;
     
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 1px;
    

   }

   .spazio{
     
     margin-left: 140px;
     width: max-content;


   }
   .box{
     color: white; 
     font-size: 40px; 
     width: 300px;
   
     margin-left: 20px;
     

   }
  
   .acc{
    
     height:60px;
     
   }
   
   .pp{

     color: white;
     font-size: 15px;






  }
  .image{
     width: 200px;
   height: 200px;
   
   margin-left: 90px;


  } 
  .ciao2{
        
     
     margin-top: 745px;
     background-color: brown;
     height: 60px;
     width: 430px;

   }

  .credits{
     
     margin-left: 250px;
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 11px;


  } 



  
}

@media only screen and (width:360px) and (height: 740px){
   
 
  body{
     background-image:url("ss1.png");
     
     
     margin: 0%;
     height: 60px;
     
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 1px;
    

   }

   .spazio{
     
     margin-left: 120px;
     width: max-content;


   }
   .box{
     color: white; 
     font-size: 40px; 
     width: 390px;
   
     margin-left: 20px;
     

   }
  
   .acc{
    
     height:60px;
     
   }
   
   .pp{

     color: white;
     font-size: 15px;






  }
  .image{
     width: 200px;
   height: 200px;
   
   margin-left: 90px;


  } 
  .ciao2{
        
     
     margin-top: 675px;
     background-color: brown;
     height: 60px;
     width: 430px;

   }

  .credits{
     
     margin-left: 320px;
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 11px;


  } 



  
}

@media only screen and (width:412px) and (height: 915px){
   
 
  body{
     background-image:url("ss1.png");
     
     
     margin: 0%;
     height: 60px;
     
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 1px;
    

   }

   .spazio{
     
     margin-left: 110px;
     width: max-content;


   }
   .box{
     color: white; 
     font-size: 40px; 
     width: 300px;
   
     margin-left: 20px;
     

   }
  
   .acc{
    
     height:60px;
     
   }
   
   .pp{

     color: white;
     font-size: 15px;






  }
  .image{
     width: 200px;
   height: 200px;
   
   margin-left: 90px;


  } 
  .ciao2{
        
     
     margin-top: 745px;
     background-color: brown;
     height: 60px;
     width: 430px;

   }

  .credits{
     
     margin-left: 320px;
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 11px;


  } 



  
}
@media only screen and (width:768px) and (height: 1024px){
   
 
  body{
     background-image:url("ss1.png");
     
     
     margin: 0%;
     height: 60px;
     
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 1px;
    

   }

   .spazio{
     
     margin-left: 475px;
     width: max-content;


   }
   .box{
     color: white; 
     font-size: 40px; 
     width: 300px;
   
     margin-left: 20px;
     

   }
  
   .acc{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
     
     
   }
   
   .pp{

     color: white;
     font-size: 15px;






  }
  .image{
     width: 300px;
   height: 300px;
   
   margin-left: 90px;


  } 
  .ciao2{
        
     
     margin-top: 300px;
     background-color: brown;
     height: 60px;
     width: 768px;

   }

  .credits{
     
     margin-left: 620px;
     
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 13px;
     


  } 



  
}

@media only screen and (width:820px) and (height: 1180px){
   
 
  body{
     background-image:url("ss1.png");
     
     
     margin: 0%;
     height: 60px;
     
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 1px;
    

   }

   .spazio{
     
     margin-left: 460px;
     width: max-content;


   }
   .box{
     color: white; 
     font-size: 40px; 
     width: 500px;
   
     margin-left: 20px;
     

   }
  
   .acc{
   
     
     
   }
   
   .pp{

     color: white;
     font-size: 19px;






  }
  .image{
     width: 600px;
   height: 600px;
   
   margin-left: 60px;


  } 
  .ciao2{
        
     
     margin-top: 200px;
     background-color: brown;
     height: 100px;
     width: 804px;

   }

  .credits{
     
     margin-left: 650px;
     
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 15px;
     


  } 



  
}


@media only screen and (width:1024px) and (height:1366px){
   
 
  body{
     background-image: url("ss1.png");
     background-repeat: repeat;
     width:800px;
     margin: 0%;
     height: 100px;
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 20px;
    

   }

   .spazio{
    
    margin-left: 320px;
     width: 640px;



   }
   .box{
     color: white; 
     font-size: 70px; 
     width: 700px;
     height:60px;
     margin-left: 50px;
     

   }
  
   .acc{
     
     
   }
   
   .pp{

     color: white;
     font-size: 35px;






  }
  .image{
     width: 700px;
     height:700px;
     margin-top: 600px;
     margin-left: 100px;


  } 
  .ciao2{
        
     
     margin-top: 190px;
     background-color: brown;
     height: 90px;
     width: 1008px;

   }

  .credits{
     
     margin-left: 780px;
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 25px;


  } 



  
}


@media only screen and (width:912px) and (height:1368px){
   
 
  body{
     background-image: url("ss1.png");
     background-repeat: repeat;
     width:900px;
     margin: 0%;
     height: 500px;
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 40px;
    

   }

   .spazio{
      margin-left: 235px;
    
     width: 675px;


   }
   .box{
     color: white; 
     font-size: 70px; 
     width: 700px;
     height:60px;
     margin-left: 50px;
     

   }
  
   .acc{
     
     
   }
   
   .pp{

     color: white;
     font-size: 35px;






  }
  .image{
     width: 700px;
     height:700px;
     margin-top: 600px;
     margin-left: 100px;


  } 
  .ciao2{
        
     
     margin-top: 300px;
     background-color: brown;
     height: 100px;
     width: 914px;

   }

  .credits{
     
     margin-left: 700px;
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 25px;


  } 



  
}


@media only screen and (width:540px) and (height:720px){
   
 
  body{
     background-image: url("ss1.png");
     background-repeat: repeat;
     width:100px;
     margin: 0%;
     height: 500px;
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 5px;
      

   }

   .spazio{
      
      margin-left: 170px;
      width: 370px;




   }
   .box{
     color: white; 
     font-size: 40px; 
     width: 400px;
     height:70px;
     margin-left: 50px;
     

   }
  
   .acc{
     
     
   }
   
   .pp{

     color: white;
     font-size: 20px;






  }
  .image{
     width: 400px;
     height:400px;
     margin-top: 300px;
     margin-left: 70px;


  } 
  .ciao2{
        
     
    margin-top: 200px;
    background-color: brown;
    height: 100px;
    width: 540px;

  }

 .credits{
    
    margin-left: 380px;
    font-family: "Roboto", sans-serif;
      font-style: normal;
    color: white;
    font-size: 18px;


 } 



  
}


@media only screen and (width:280px) and (height:653px){
   
 
  body{
     background-image: url("ss1.png");
     
     margin:0%;
     
     height: 100px;
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 25px;
    

   }

   .spazio{
      margin-left: 250px;
      width: 850px;
      



   }
   .box{
   
    color: white; 
     font-size: 75px; 
     width: 600px;
     height:70px;
     margin-left: 30px;
     

   }
  
   .acc{
     
     
   }
   
   .pp{

     color: white;
     font-size: 45px;






  }
  .image{
     width: 700px;
     height:700px;
     margin-top: 900px;
     margin-left: 200px;


  } 
  .ciao2{
        
     
     margin-top: 2280px;
     background-color: brown;
     height: 142px;
     width: 1110px;

   }

  .credits{
     
     margin-left: 850px;
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 30px;


  } 



  
}

@media only screen and (width:412px) and (height:914px){
   
 
  body{
     background-image: url("ss1.png");
     
     margin:0%;
     width: 400px;
     height: 90px;
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 1px;
    

   }

   .spazio{
   
    margin-left: 130px;
      width: 282px;
      



   }
   .box{
   
    color: white; 
     font-size: 30px; 
     width: 350px;
     height:110px;
     margin-left: 15px;
     

   }
  
   .acc{
     
     
   }
   
   .pp{

     color: white;
     font-size: 15px;






  }
  .image{
     width: 300px;
     height:300px;
     margin-top: 200px;
     margin-left: 50px;


  } 
  .ciao2{
        
     
     margin-top: 750px;
     background-color: brown;
     height: 50px;
     width: 412px;

   }

  .credits{
     
     margin-left: 300px;
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 10px;


  } 



  
}
@media only screen and (orientation: landscape) and (min-width:992px){
   
 
 
   
 
  body{
     background-image: url("ss1.png");
     background-repeat: repeat;
     width:480px;
     margin: 0%;
     height: 50px;
    
   }
   p{
     font-family: "Roboto", sans-serif;
     
     font-style: normal;

   }
   span{
      margin-left: 10px;
    

   }

   .spazio{
   
    width: 400px;
    margin-left: 1400px;
    


   }
   .box{
     color: white; 
     font-size: 70px; 
     width: 700px;
     height:60px;
     margin-left: 50px;
     

   }
  
   .acc{
     display: grid;
     position: center;
     grid-template-columns: 1fr 1fr 1fr;
     
   }
   
   .pp{

     color: white;
     font-size: 20px;






  }
  .image{
     width: 700px;
     height:700px;
     margin-top: 80px;
     margin-left: 100px;


  } 
  .ciao2{
        
     
     margin-top: 200px;
     background-color: brown;
     height: 90px;
     width: 1897px;

   }

  .credits{
     
     margin-left: 1700px;
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 15px;
  


  } 



  

 

}






































