@media (min-width:475px){
   




}

@media (min-width:640px){
   body {
      background-image: url("ss1.png");
      width: 330x;
      height: 475px;
      
   
      }
      span{
         margin-left: 0px;
       
  
      }
      .spazio{
         margin-left: 20px;
  
  
  
  
      }
      .box{
        width: 380px;
        height: 400px; 
        font-family: "Roboto", sans-serif;
        font-style: normal;
        color: white;
        font-size: 30px;
      }
     
      .ciao2{
          height: 150px;
          width: 350px;
  
  
  
      }
    
      .bardotext{
        visibility: hidden;
  
  
  
  
     }



   
}


@media (min-width:768px){




   
}

@media (min-width:1024px){




   
}

@media (min-width:1280px){




   
}

@media (min-width:1536px){




   
}


