@media only screen and (min-width:375px) and (max-width:411px){
   
 
 

  } 


@media only screen and (min-width:375px) and (max-width:411px) and (width:667px){
  

   }
@media only screen and (width:414px) and (height: 896px){
  




 
} 


@media only screen and (width:390px) and (height: 844px){
  

 


 
}



@media only screen and (width:430px) and (height: 932px){
  




 
}

@media only screen and (width:412px) and (height: 915px){
  

  



 
}

@media only screen and (width:360px) and (height: 740px){
  




 
}

@media only screen and (width:412px) and (height: 915px){
  

 



 
}
@media only screen and (width:768px) and (height: 1024px){
  





 
}

@media only screen and (width:820px) and (height: 1180px){
  

 



 
}


@media only screen and (width:1024px) and (height:1366px){
  

 



 
}


@media only screen and (width:912px) and (height:1368px){
  




 
}


@media only screen and (width:540px) and (height:720px){
  




 
}


@media only screen and (width:280px) and (height:653px){
  

 



 
}

@media only screen and (width:412px) and (height:914px){
  



 
}
@media only screen and (orientation: landscape) and (min-width:992px){
  
  body{
    background-color: #535cd6;
  
    width:100%;
    margin: 0%;
    height: 50px;
   
  }
  
    span{
      margin-left: 40px;
    
  
   }
  
   .spazio{
      margin-left: 1400px;
      
  
  
  
  
   }
  
   .reso{
  height: 100px;
  width: 100px;
   }
  
   .ciao2{
            
         
     margin-top: 200px;
     background-color: brown;
     height: 90px;
     width: 100%;
  
   }
  
   .credits{
         
     margin-left: 1700px;
     font-family: "Roboto", sans-serif;
       font-style: normal;
     color: white;
     font-size: 15px;
  
  
  } 
  
  .pp{
    
     color: white;
     font-size: 20px;
  
  
  
  
  
  
  }
   
  .button1{
    Border: none !important; background: none !important;
    
  
  
  }

  


 



}











